<div class="row">
    <div class="container">
        <h1>Crear Tarea</h1>
    </div>
</div>

<div class="row">
    <div class="container">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                <input type="text" [(ngModel)]="tarea.Titulo" class="form-control" id="exampleFormControlInput1" placeholder="titulo" name="titulo" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <textarea class="form-control" [(ngModel)]="tarea.Tarea" id="exampleFormControlTextarea1" rows="3" name="tarea" required></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                <input type="text" class="form-control" [(ngModel)]="tarea.Fecha" id="exampleFormControlInput1" placeholder="fecha" name="fecha" required>
            </div>

            <div class="input-group mb-3">
                <button type="submit" class="btn btn-lg btn-primary">Finalizar</button>
            </div>
        </form>
    </div>
</div>